<% layout("/layouts/boilerplate.ejs") %>
<h3>  <%= listing.title %> </h3>
<div class="card" style="width: 18rem">
  <img src="<%= listing.image%>" class="card-img-top" alt="thubmnail_image" />
  <div class="card-body">
    <p class="card-text">
    <%= listing.title %> <br />
      <%= listing.description %> <br />
      &#8377;<%= listing.price%> <br />
      <%= listing.location %> <br />
      <%= listing.country %> <br />
    </p>
  </div>
</div>
<ul></ul>
<br />
<a href="/listings/<%= listing._id%>/edit" class="btn btn-dark"
  >Edit this listing</a
>
<br />
<br />
<form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
  <button class="btn btn-dark">Delete this listing</button>
</form>

<div class="col-8 offset-3">
  <h4>Leave a Review</h4>
  <form action="/listings/<%= listing._id %>/reviews" method="post" class="needs-validation">
    <div class="mb-3 mt-3">
      <label for="rating" class="form-label">Rating</label>
      <input type="range" name="review[rating]" id="rating" max="5" min="1" />
    </div>
    <div class="mb-3 mt-3">
      <label
        for="comment"
        class="form-label"
        class="form-control"
        cols="30"
        rows="5"
        >Comment</label
      >
      <textarea required name="review[comment]" id="comment"></textarea>
    </div>
    <button class="btn btn-outline-dark">Submit</button>
  </form>

  <hr>

  <h4>All Reviews</h4>
   <ul>
      <% for(review of listing.reviews ) {%>
      <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">Jane Doe</h5>
          <p class="card-text"> <%= review.comment %></p>
          <p class="card-text"> <%= review.rating %>stars</p>
          <form action="/listings/<%=listing._id%>/reviews/<%= review._id %>?_method=DELETE" method="post" class="mb-3">
            <button class="btn btn-btn-sm btn-dark">Delete</button>
          </form>
        </div>
      </div>
      <% } %>
    </ul>
</div>

<script src="/js/script.js"></script>